.home {
  padding-bottom: 50px;
  .ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    // margin-top: 50px;
    li {
      float: left;
      width: 25%;
      a {
        display: block;
        height: 50px;
        text-align: center;
        color: #333;
        background-color: #fff;
        padding-top: 10px;
        border-top: 1px solid #ccc;
      }
      .active {
        color: orange;
        // background-color: orange;
      }
    }
  }
}
