* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  touch-action: pan-y;
}
html,
body,
#root,
.App {
  height: 100%;
}
body {
  background-color: #fff;
  // height: 3000px;
  // padding-bottom: 80px;
}
a {
  color: #333;
}
